* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --top-nav-height: 10vh;
  --side-nav-width: 240px;
}

body {
  overflow-x: hidden;
}

.app-content {
  padding-left: var(--side-nav-width);
}

.auth-route-content {
  padding-left: 0;
}

@media (max-width: 980px) {
  .app-content {
    padding-left: 0;
  }
}
